body {
    font-size: 16px;
}

.header {
    font-size: 24px !important;
    font-family: fantasy;
    color: midnightblue;
    text-align: center;
}

.picture {
    text-align: center;
}

.elem {
    margin: 0 0 15px 20%;
}

.electR, .electX {
    display: inline;
}

input {
    border-radius: 12px 0;
    text-align: center;
}

input.submit {
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
    min-width: 125px;
}

button {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}

button:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

button:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}

input.submit:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

input.submit:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}

#resetForm {
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}

#resetForm:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

#resetForm:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}

input.setR {
    display: inline;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}

input.setR:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

input.setR:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}

#xycoordinates {
    min-height: 24px;
}

#message {
    text-align: center;
}